Repository SnO2WMaN/gitmoji-preset-dependencies: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix

.lintstagedrc:

{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*[!package].json": ["prettier --write", "git add"],
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}

✨ Add gitmojis about dependencies
  index.json
Due: prettier --write

🔧 Update .gitmojirc
  .gitmojirc
  .gitmojirc.js
Due: prettier --write, eslint --fix

💬 Update project name
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

📖 Update readme
  README.md
Due: prettier --write

📖 Update package.json
  package.json
Due: prettier-package-json --write, prettier --write

💬 Rename package name in some files
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

🔖 1.0.1
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Lock file maintenance
  package-lock.json
Due: none

⬆️ Update dependency husky to v4
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency ava to v3
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency lint-staged to v10
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write
